@import '../../app/template/css/reset.css';
@import '../../bower_components/magnific-popup/dist/magnific-popup.css';
@import '../../bower_components/flexslider/flexslider.css';
@import '../../app/template/plugin/fontawesome/css/font-awesome.min.css';

$tamanhosite: 1200px;
$corPrincipal: #cc181f;

*{  
 	/*transition: all 1s ease;*/
    font-family: 'PT Sans', sans-serif; 
    font-weight: 300; 
   	*{
        font-family: 'PT Sans', sans-serif;
        font-weight: 300;
   	} 
}

img{
	max-width: 100% !important;
}

a:hover{
	text-decoration: none;
}

.centro_site{
	margin: 0 auto;
	width: 100%;
	max-width: $tamanhosite;
}


:focus {  
   outline: 0px auto -webkit-focus-ring-color !important;
   outline-offset: 0px !important;
   text-decoration: none;
}

@import 'noticias.scss';

body{
    font-family: 'PT Sans', sans-serif; 
    font-weight: 300;
}

main{
    background-color: #fff;
    float: left;
    width: 100%;
}

section{
	float: left;
	width: 100%;
}

header{
	float: left;
	width: 100%;
}

footer{
	float: left;
    width: 100%;
}